@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

:root {
  --grey: rgb(150, 150, 150);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto sans';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
}

.page {
  background-color: #1c1b1b;
  width: 390px;
  height: 844px;
  border-radius: 80px;
  padding: 15px;
}

.headBar {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 10px;
}

.headIcon {
  color: white;
  font-size: 20px;
  width: 10px;
  text-align: center;
}

.nowPlaying {
  font-size: 18px;
  color: #ffffff;
}

.musicImage {
  width: 335px;
  height: 370px;
  border-radius: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.music-Name-Author-Like {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
}

.music-Name-Author {
  font-size: 18px;
}

.musicName {
  color: #ffffff;
}

.musicAuthor {
  color: var(--grey);
}

.musicLike {
  font-size: 20px;
  color: var(--grey);
}

.musicLikeTrue {
  font-size: 20px;
  color: rgb(240, 18, 221);
}

.chargeBar
{
  border: 2px solid #ffffff;
  border-radius: 8px;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
}

.musicTime
{
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 25px;
  font-size: 14px;
  font-weight: 600;
  color: var(--grey);
}

.buttonsMusic {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 50px;
}

.buttonsMusic .playMusic {
  color: #42c83c;
  font-size: 50px;
}

.buttonsMusic .previous, .buttonsMusic .next {
  color: var(--grey);
  font-size: 20px;
}

.buttonsMusic .repeat, .buttonsMusic .shuffle {
  color: rgba(128, 128, 128, 0.479);
}

.lyricsFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
}

.lyricsFooter .lyrics {
  color: #ffffff;
  font-size: 14px;
}

.lyricsFooter .arrowUp {
  color: var(--grey);
}